
  <header>
    <%= image_tag("logo.png", class: "logo")%>
  </header>

  <main>
    <div class="tagline">
      <p>Joke Responsibly</p>
    </div>
    <h3>This is your place to impress your bae with a borrowed (ie. <i>stolen</i>) joke, just like the big-wig politicians!</h3>
    <nav>
      <h4>To start:</h4>
      <ul>
         <li><%= link_to "Add a Joke", new_joke_path, class: "btn1"%></li>
         <li><%= link_to "Rate a Joke", rate_path, class: "btn2"%></li>
         <li><%= link_to "Top 10 Jokes", jokes_path, class: "btn1" %></li>
      </ul>

    </nav>
  </main>
