<h1>Welcome to Joke Booth!</h1>
<br>

This is your place to impress your bae with a borrowed (ie. <i>stolen</i>) joke, just like the big-wig politicians!

<h4>To start:</h4>

<ul>
   <li>You can enter your own joke by swiping <%= link_to "Left", new_joke_path %></li>
   <li>You can rate other people's jokes by swiping <%= link_to "Right", rate_path%></li>
   <li>To see the hottest jokes around, click the <%= link_to "Joke Booth top 10!", jokes_path %> :)</li>
</ul>
