<h1>You think you are hot shit? Let's see what you got!</h1>

<%= form_for @joke do |j| %>
  <%= j.label "Enter joke" %>
  <%= j.text_field :body %>
  <%= j.submit %>
<% end %>

Checkbox whether it is dirty or not
